body{
    background-image: url(css-gradient.webp);
    height: 700px;
    width: 600px;
}
.intro{
    position: absolute;
    top:80px ;
    left: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 60px;
}
.left{
    position: absolute;
    top: 200px;
    left: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 500px;
    width: 350px;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 10%;
}
.Right{
    position: absolute;
    top: 200px;
    right: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 500px;
    width: 350px;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 10%;
}
.Random{
    position: absolute;
    top: 300px;
    left: 730px;
    font-size: 30px;
    color: white;

}
.Hold{
    position: absolute;
    top: 450px;
    left: 710px;
    font-size: 30px;
    color: white;
}
.hol{
    color: black;
    font-size: 20px;
    border-radius: 20%; 
}
.next{
    position: absolute;
    top: 550px;
    left: 710px;
}
.NEX{
    color: black;
    font-size: 20px;
    border-radius: 20%; 
}
.plyr1{
    position: absolute;
    top: 50px;
    left: 120px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.plyr2{
    position: absolute;
    top: 50px;
    left: 120px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.score{
    position: absolute;
    top: 120px;
    left: 120px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.score1{
    position: absolute;
    top: 120px;
    left: 120px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.current{
    border-radius: 10%;
    background-color: white;
    position: absolute;
    top: 320px;
    left: 100px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.current1{
    border-radius: 10%;
    background-color: white;
    position: absolute;
    top: 320px;
    left: 100px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}